.toast {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  background: rgba(70, 200, 232, 0.688);
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  position: fixed;
  color: #1c1b1b;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s forwards;
  z-index: 9999;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }


}
