
.modal{
  margin-top: 40px;
   width: 500px;
   height: auto;
   background: rgba(128, 128, 128, 0.506);
   padding: 20px;
   border-radius: 20px;
   position: relative;
}
.form-vendedores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea{
  width: 360px;
  font-size: 15px;
  padding: 10px;
  border-radius:10px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}
select {
  width: 380px;
  font-size: 15px;
  padding: 10px;
  border-radius:10px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px slategray;
}

option {
  display: flex;
  justify-content: center;
}


button {
  padding: 15px;
  border: none;
  background-color: rgba(0, 0, 255, 0.534);
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 15px;
  font-weight:600;
  color: white;
  cursor: pointer;

}

button:hover {
  background-color: rgba(0, 0, 255, 0.339);
}
.form-habilitado {
  margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
