<div class="backdrop" (click)="modalStatusFalse()"></div>

<div class="modal slide-in-bottom">
  <form
    [formGroup]="formulario"
    class="form-vendedores"
    (ngSubmit)="onSubmit($event)"
  >
    <div *ngIf="!crearVendedor" class="form-profile">
      <img [src]="imgSet" alt="" />

      <button class="btn-subir-imagen" (click)="uploadImage()" type="button">
        Subir Imagen
      </button>
      <input
        type="file"
        #fileInput
        (change)="onSubmit($event)"
        style="display: none"
        accept="image/*"
      />
    </div>

    <label for="">Usuario Login</label>
    <input type="text" placeholder="usuario" formControlName="usuarioLogin" />

    <label for="">Nombre Completo</label>
    <input type="text" placeholder="nombre" formControlName="nombre" />

    <label for="">Fecha Nacimiento:</label>
    <input type="date" placeholder="fecha" formControlName="fechaNacimiento" />

    <label for=""> Localidad:</label>

    <select formControlName="localidadId">
      <option disabled>** Localidad **</option>
      <option *ngFor="let localidad of localidades" value="{{ localidad.id }}">
        {{ localidad.localidad }}
      </option>
    </select>

    <label for="">Observaciones:</label>
    <textarea formControlName="observaciones"></textarea>
    <label for="">Habilitado:</label>
    <div class="form-habilitado">
      <label> Si: </label>
      <input type="radio" [value]="true" formControlName="habilitado" />
      <label> No: </label>
      <input formControlName="habilitado" type="radio" [value]="false" />
    </div>
    <div class="btn-flex">
      <button (click)="modalStatusFalse()" class="btn-cerrar">Cancelar</button>
      <button *ngIf="crearVendedor" type="submit">Guardar</button>
      <button *ngIf="!crearVendedor" type="submit">Modificar</button>
    </div>
  </form>
</div>
