
.modal{
  margin-top: 40px;
   width: 500px;
   height: auto;
   background: rgb(255, 255, 255);
   padding: 20px;
   border-radius: 10px;
   position: relative;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  }
.form-vendedores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(71, 71, 71) ;
}

input, textarea{
  width: 360px;
  font-size: 15px;
  padding: 10px;
  border-radius:10px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px  rgb(71, 71, 71);


}
select {
  width: 380px;
  font-size: 15px;
  padding: 10px;
  border-radius:10px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px  rgb(71, 71, 71);
}




button , btn-subir-imagen
{
  padding: 15px;
  border: none;
  background-color: #0075dc;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 15px;
  font-weight:600;
  color: white;
  cursor: pointer;

}

button:hover {
  background-color: #0075dcb2;
}
.form-habilitado {
  margin-bottom: 20px;
  width:25%;
  display: flex;
  justify-content: center;
  align-items: center;

  }


.form-profile {
  width: 75%;
  display: flex;
  justify-content: start;
  align-items: flex-end;

}



img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-subir-imagen  {
  padding: 10px;
  margin-left: 20px;
  align-self: center;
  font-size: 13px;
}
