<div class="backdrop" (click)="modalStatusFalse()"></div>

<div class="modal slide-in-bottom">
  <div class="form-title">
    <h3 *ngIf="crearVendedor">Crear Vendedor</h3>
    <h3 *ngIf="!crearVendedor">Modificar Vendedor</h3>
    <hr class="divisor" />
  </div>

  <form
    [formGroup]="formulario"
    class="form-vendedores"
    (ngSubmit)="onSubmit($event)"
  >
    <div *ngIf="!crearVendedor" class="form-profile">
      <img [src]="imgSet" alt="" />

      <button
        type="button"
        class="btn-subir-imagen"
        (click)="clickInputImage()"
      >
        Subir imagen
      </button>
      <input
        type="file"
        #fileInput
        (change)="subirImagen($event)"
        style="display: none"
        accept="image/*"
      />
    </div>

    <label>Nombre de usuario:</label>
    <input
      type="text"
      placeholder="Ingrese nombre de usuario..."
      formControlName="usuarioLogin"
    />

    <span *ngIf="isValidField('usuarioLogin')" class="error-message-field">{{
      "Este campo es requerido"
    }}</span>

    <label for="">Nombre Completo: </label>
    <input
      type="text"
      placeholder="Ingrese nombre completo..."
      formControlName="nombre"
    />

    <span *ngIf="isValidField('nombre')" class="error-message-field">{{
      "Este campo es requerido"
    }}</span>
    <label for="">Fecha Nacimiento: </label>
    <input type="date" placeholder="fecha" formControlName="fechaNacimiento" />

    <span *ngIf="isValidField('fechaNacimiento')" class="error-message-field">{{
      "Este campo es requerido"
    }}</span>

    <label> Localidad:</label>
    <select formControlName="localidadId">
      <option disabled>** Localidad **</option>
      <option *ngFor="let localidad of localidades" value="{{ localidad.id }}">
        {{ localidad.localidad }}
      </option>
    </select>

    <label for="">Observaciones:</label>
    <textarea formControlName="observaciones"></textarea>

    <label for="">Habilitado: </label>
    <div class="form-habilitado">
      <input
        type="radio"
        class="radio-input"
        [value]="true"
        formControlName="habilitado"
      />
      <p>Si</p>

      <input
        class="radio-input"
        formControlName="habilitado"
        type="radio"
        [value]="false"
      />
      <p>No</p>
    </div>

    <div class="btn-flex">
      <button class="btn-cerrar" (click)="modalStatusFalse()">Cancelar</button>
      <button *ngIf="crearVendedor" type="submit">Guardar</button>
      <button *ngIf="!crearVendedor" type="submit">Modificar</button>
    </div>
  </form>
</div>
