<div class="modal">
  <form
    [formGroup]="formulario"
    class="form-vendedores"
    (ngSubmit)="onSubmit()"
  >
    <img src="../../../favicon.ico" alt="" width="30px" />
    <!-- <button (click)="uploadImage()" type="button">Subir Imagen</button>
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      style="display: none"
      accept="image/*"
    /> -->
    <label for="">Usuario Login</label>
    <input type="text" placeholder="usuario" formControlName="usuarioLogin" />

    <label for="">Nombre Completo</label>
    <input type="text" placeholder="nombre" formControlName="nombre" />

    <label for="">Fecha Nacimiento:</label>
    <input type="date" placeholder="fecha" formControlName="fechaNacimiento" />

    <label for=""> Localidad:</label>

    <select formControlName="localidadId">
      <option disabled>** Localidad **</option>
      <option value="1">Rosario</option>
      <option value="2">Roldan</option>
      <option value="3">Funes</option>
    </select>

    <label for="">Observaciones:</label>
    <textarea formControlName="observaciones"></textarea>
    <label for="">Habilitado:</label>
    <div class="form-habilitado">
      <label> True </label>
      <input type="radio" [value]="true" formControlName="habilitado" />
      <label> False </label>
      <input formControlName="habilitado" type="radio" [value]="false" />
    </div>

    <button type="submit">Guardar</button>
    <!-- <button>Cancelar</button>
    <button>Eliminar</button>
    <button>Modificar</button> -->
  </form>
</div>
<!--
<span>Valid</span>
<pre>{{ formulario.valid | json }}</pre>
<br />

<span>Value</span>
<pre>{{ formulario.value | json }}</pre>
<br />

<span>Agregar Juego</span>
<pre>{{ formulario.valid | json }}</pre>
<pre>{{ formulario.value | json }}</pre> -->
