<button (click)="agregarVendedor()">Agregar</button>
<app-modal-vendedor
  *ngIf="estadoModal"
  (cerrarModal)="cerrarModal()"
  [crearVendedor]="crearVendedor"
  [vendedor]="selectVendedor"
></app-modal-vendedor>
<table class="table">
  <thead>
    <tr>
      <th>Useario Login</th>
      <th>Nombre</th>
      <th>Habilitado</th>
      <th>Fecha de nacimiento</th>
      <th>Observaciones</th>
      <th>Localidad</th>
      <th>Modificar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tfoot *ngFor="let vendedor of vendedores">
    <tr>
      <td>{{ vendedor.usuarioLogin }}</td>
      <td>{{ vendedor.nombre }}</td>
      <td>{{ vendedor.habilitado }}</td>
      <td>{{ vendedor.fechaNacimiento }}</td>
      <td>{{ vendedor.observaciones }}</td>
      <td>{{ vendedor.localidad?.localidad }}</td>
      <td><button (click)="modificarVendedor(vendedor)">Modificar</button></td>
      <td><button>Eliminar</button></td>
    </tr>
  </tfoot>
</table>
